Resources/__pycache__/
.idea/SharebusWebUIAutomation.iml
.idea/misc.xml
allure-report
Test/__pycache__/
Test/Scripts/MyBuses/__pycache__/
Test/Scripts/E2E/__pycache__/
Config/__pycache__/
Reports/AllureReports/
Reports/HTMLReports/
Reports/Logs/logfile.log
Reports/Screenshots/*.png
Reports/XMLReports/
Reports/allure-results/
Resources/BrowserUtil/__pycache__/
Src/PageObject/Pages/__pycache__/
Src/PageObject/__pycache__/
Src/TestBase/__pycache__/